<!DOCTYPE html>
<html lang="en">
<head th:replace="admin/fragment/head :: head"></head>

<script th:src="@{/admin/controller/service-ctrl.js}"></script>
<style>
    input[type="checkbox"]:disabled {
        opacity: 1; /* Đảm bảo không bị mờ */
        cursor: not-allowed; /* Hiển thị con trỏ không cho phép */
    }

    /* Thay đổi màu sắc cho checkbox */
    input[type="checkbox"]:disabled:checked {
        background-color: #39DA8A; /* Màu nền cho checkbox đã chọn */
        border-color: #39DA8A; /* Màu viền cho checkbox đã chọn */
    }
</style>
<body>
<div id="app">
    <div th:replace="admin/fragment/sidebar :: sidebar"></div>
    <div id="main">

        <div th:replace="admin/fragment/navbar :: navbar"></div>

        <div class="main-content container-fluid">
            <div class="page-title">
                <div class="row">
                    <div class="col-12 col-md-6 order-md-1 order-last">
                        <h3>Quản lý dịch vụ</h3>
                        <div id="alert" class="alert alert-secondary alert-dismissible fade"
                             style="display: none; ">
                            This is a secondary alert.
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="table-head">
                <div class="dataTable-search">
                    <input class="dataTable-input" placeholder=" Search..." type="text">
                    <div class="buttons" style="margin-left: 1rem">
                        <a href="#" class="btn btn-outline-dark" id="filterButtonSearch">Tìm kiếm</a>
                    </div>
                </div>


                <div class="text-right">
                    <button class="btn  btn-green"
                            data-toggle="modal"
                            data-target="#create-service"
                            onclick="openAddServiceModal()"
                    >Thêm mới
                    </button>
                </div>
            </div>
            <div style="display: flex">
                <div class="input-group mb-3" style="flex: 1 0 30%; max-width: 30%; margin-right: 1rem;">
                    <label class="input-group-text">Loại dịch vụ</label>
                    <select class="form-select" id="serviceTypeSelect">
                        <option selected="">Choose...</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                </div>

                <div class="buttons">
                    <a href="#" class="btn btn-outline-dark" id="filterButton">Lọc</a>
                </div>
            </div>

            <!-- Hoverable rows start -->
            <div class="row" id="table-hover-row">
                <div class="col-12">
                    <div class="card">

                        <div class="card-content">

                            <!-- table hover -->
                            <div class="table-responsive">


                                <table class="table table-hover mb-0">

                                    <thead>
                                    <tr>
                                        <th class="text-center">STT</th>
                                        <th class="text-center">TÊN DỊCH VỤ</th>
                                        <th class="text-center">LOẠI DỊCH VỤ</th>
                                        <th class="text-center">MÔ TẢ</th>
                                        <th class="text-center">HÌNH ẢNH</th>
                                        <th class="text-center">GIÁ TIỀN (VND)</th>
                                        <th class="text-center">GIÁ THEO KG (%)</th>
                                        <th class="text-center">HÀNH ĐỘNG</th>
                                    </tr>
                                    </thead>
                                    <tbody id="serviceBody">
                                    <tr>
                                        <td>Tắm Spa</td>
                                        <td>Chăm sóc thú cưng</td>
                                        <td>Dịch vụ tắm rửa và chăm sóc lông cho thú cưng.</td>
                                        <td>
                                            <img src="https://via.placeholder.com/100" alt="Tắm Spa"
                                                 style="width: 100px; height: auto;">
                                        </td>
                                        <td>
                                            <a href="#" title="Edit"
                                               data-toggle="modal"
                                               data-target="#edit-service"
                                            >
                                                <i class="fas fa-pencil-alt badge-circle badge-circle-light-secondary font-medium-1 edit-icon fa-lg"
                                                   style="margin-right: 5px"></i>
                                            </a>
                                            <a href="#" title="Delete" style="margin-left: 10px;"
                                               data-toggle="modal"
                                               data-target="#delete-service"
                                            >
                                                <i class="fas fa-trash badge-circle badge-circle-light-secondary font-medium-1 delete-icon fa-lg"></i>
                                            </a>
                                        </td>
                                    </tr>


                                    </tbody>


                                </table>

                            </div>

                        </div>
                        <ul class="pagination pagination-primary float-right dataTable-pagination" id="pagination"
                            style="justify-content: center;margin-top: 1rem">
                            <li class="page-item pager"><a href="#" class="page-link" data-page="1">‹</a></li>
                            <li class="page-item"><a href="#" class="page-link" data-page="1">1</a></li>
                            <li class="page-item"><a href="#" class="page-link" data-page="2">2</a></li>
                            <li class="page-item"><a href="#" class="page-link" data-page="3">3</a></li>
                            <li class="page-item"><a href="#" class="page-link" data-page="4">4</a></li>
                            <li class="page-item active"><a href="#" class="page-link" data-page="5">5</a></li>
                            <li class="page-item"><a href="#" class="page-link" data-page="6">6</a></li>
                            <li class="page-item pager"><a href="#" class="page-link" data-page="6">›</a></li>
                        </ul>
                    </div>

                </div>
            </div>
            <!-- Hoverable rows end -->
        </div>


    </div>
</div>


<div class="modal fade text-left" id="edit-service" tabindex="-1" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Cập nhật dịch vụ</h3>
            </div>

            <form action="#" id="update-service-form">
                <div class="modal-body">
                    <div class="mb-1">
                        <div class="input-group mb-3">
                            <span class="input-group-text">Tên dịch vụ</span>
                            <input type="text" class="form-control" name="name" required
                                   aria-label="Sizing example input">
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <label class="input-group-text">Loại dịch vụ</label>
                        <select class="form-select" name="groupServiceId" required>
                            <option selected="">Choose...</option>
                        </select>
                    </div>
                    <div class="mb-1">
                        <div class="input-group mb-3">
                            <span class="input-group-text">Giá tiền</span>
                            <input type="number" class="form-control" id="editServicePrice" required>
                            <span class="input-group-text">VND</span>
                        </div>
                    </div>
                    <div class="mb-1">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="form-check-input" id="editServiceHasDetail">
                            <label class="form-check-label" for="editServiceHasDetail"
                                   style="margin-left: 0.5rem;">Giá theo kg (%)</label>
                        </div>

                    </div>
                    <div class="form-group with-title mb-3">
                        <textarea class="form-control" rows="5" name="descriptionEdit" required></textarea>
                        <label class="input-group-text">Mô tả</label>
                    </div>
                    <div class="input-group mb-3">
                        <span class="form-file-button input-group-text">Hình ảnh</span>
                        <div class="form-file">
                            <input type="file" class="form-file-input" name="imageFile" accept="image/*"
                                   onchange="previewImage(event)">
                            <label class="form-file-label">
                                <span class="form-file-text">Choose file...</span>
                            </label>
                        </div>
                    </div>
                    <div class="mb-1">
                        <img class="image-preview" src="path/to/default/image.png" alt="Hình ảnh dịch vụ"
                             style="width: 100px; height: 100px; display: none; margin-top: 10px;">
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-danger" data-dismiss="modal">
                        Đóng
                    </button>
                    <button type="button" class="btn btn-green ml-1" data-dismiss="modal" onclick="updateService()">
                        Cập nhật
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
<!--end modal-->

<!--form Modal -->
<div class="modal fade text-left" id="create-service" tabindex="-1" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Thêm mới dịch vụ</h3>
            </div>

            <form action="#">
                <div class="modal-body">
                    <!--input-->
                    <div class="mb-1">
                        <div class="input-group mb-3">
                            <span class="input-group-text">Tên dịch vụ</span>
                            <input type="text" class="form-control" name="name" aria-label="Sizing example input"
                                   required>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <label class="input-group-text">Loại dịch vụ</label>
                        <select class="form-select" name="groupServiceId" required>
                            <option selected="" disabled>Chọn loại dịch vụ</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                    </div>
                    <div class="mb-1">
                        <div class="input-group mb-3">
                            <span class="input-group-text">Giá tiền</span>
                            <input type="number" class="form-control" id="price" aria-label="Amount (to the nearest dollar)" required>
                            <span class="input-group-text">VND</span>
                        </div>
                    </div>
                    <div class="mb-1">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="form-check-input form-check-primary" checked="" name="customCheck" id="customColorCheck1">
                            <label class="form-check-label" for="customColorCheck1" style="margin-left: 0.5rem;">Giá theo kg (%)</label>
                        </div>
                    </div>

                    <div class="form-group with-title mb-3">
                        <textarea class="form-control" rows="5" name="description" required></textarea>
                        <label class="input-group-text">Mô tả</label>
                    </div>
                    <div class="input-group mb-3">
                        <span class="form-file-button input-group-text">Hình ảnh</span>
                        <div class="form-file">
                            <input type="file" class="form-file-input" name="imageFile" id="imageFile"
                                   onchange="previewImageCreate(event)">
                            <label class="form-file-label">
                                <span class="form-file-text">Chọn tệp...</span>
                                <span class="input-group-text">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                         fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                         stroke-linejoin="round" class="feather feather-upload">
                                        <path d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4"></path>
                                        <polyline points="17 8 12 3 7 8"></polyline>
                                        <line x1="12" y1="3" x2="12" y2="15"></line>
                                    </svg>
                                </span>
                            </label>
                        </div>
                    </div>
                    <div class="mb-1">
                        <img class="image-preview-create" src="path/to/default/image.png" alt="Hình ảnh dịch vụ"
                             style="width: 100px; height: 100px; display: block; margin-top: 10px;">
                    </div>

                    <!--end input-->
                </div>

                <!--button function-->
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-danger" data-dismiss="modal">
                        <i class="bx bx-x d-block d-sm-none"></i>
                        <span class="d-none d-sm-block">Đóng</span>
                    </button>
                    <button type="button" class="btn btn-green ml-1" data-dismiss="modal" onclick="addService()">
                        <i class="bx bx-check d-block d-sm-none"></i>
                        <span class="d-none d-sm-block">Thêm mới</span>
                    </button>
                    <!--end button function-->
                </div>
            </form>
            <!--end form-->
        </div>
    </div>
</div>
<!--end modal-->

<!-- form Modal -->
<div class="modal fade text-left" id="delete-service" tabindex="-1"
     style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Xóa dịch vụ </h4>
            </div>
            <form action="#">
                <div class="modal-body">
                    <div class=" mb-1">
                        <h6>Bạn có chắc muốn xóa <span style="font-size: 25px" id="serviceNameToDelete"></span> không?
                        </h6>
                    </div>
                    <input type="hidden" id="serviceIdToDelete">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-danger" data-dismiss="modal">
                        <i class="bx bx-x d-block d-sm-none"></i>
                        <span class="d-none d-sm-block">Đóng</span>
                    </button>
                    <button id="confirmDeleteService"
                            onclick="deleteService()"
                            type="button"
                            class="btn btn-green ml-1"
                            data-dismiss="modal">
                        <i class="bx bx-check d-block d-sm-none"></i>
                        <span class="d-none d-sm-block">Xóa</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
<div th:replace="admin/fragment/script :: script"></div>
</body>
</html>
