<div th:fragment="script">
  <script th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js}"></script>
  <script th:src="@{https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js}"></script>
  <script th:src="@{/user/assets/lib/wow/wow.min.js}"></script>
  <script th:src="@{/user/assets/lib/easing/easing.min.js}"></script>
  <script th:src="@{/user/assets/lib/waypoints/waypoints.min.js}"></script>
  <script th:src="@{/user/assets/lib/counterup/counterup.min.js}"></script>
  <script th:src="@{/user/assets/lib/lightbox/js/lightbox.min.js}"></script>
  <script th:src="@{/user/assets/lib/owlcarousel/owl.carousel.min.js}"></script>


  <!-- Template Javascript -->
  <script th:src="@{/user/assets/js/main.js}"></script>
  <script th:src="@{/my/js/sidebar.js}"></script>
</div>