<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quên Mật Khẩu - Pet Care</title>
    <link rel="stylesheet" th:href="@{/my/css/style.css}">
    <link rel="shortcut icon" th:href="@{/admin/assets/images/logoPetCare.svg}" type="image/x-icon">
</head>
<body>
<div class="wrapper">
    <div class="tab">
        <div class="login-tab active" onclick="showLogin()">Quên mật khẩu</div>
    </div>
    <form id="login-form" th:action="@{/password/forgot}" method="POST">
        <div th:if="${error}" style="color: red; margin-top: 1rem;">
            <p th:text="${error}"></p>
        </div>
        <div class="input-field">
            <input type="email" name="email" required>
            <label>Nhập email</label>
        </div>
        <button type="submit">Gửi mã</button>
        <p style="margin-top: 1rem">Quay lại <a th:href="@{/login}">Đăng nhập</a></p>
    </form>
</div>
<script th:src="@{/my/js/sidebar.js}"></script>
</body>
</html>